html {
    font-size: 1rem;
}
body{
   
}
.where {
    
    border-bottom: 1px solid #CFD2CF;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;        
}
.where input {
    padding-left: 2rem;
    border:  none;
      width: 90%;
      display: inline-block;
}

.where i {
    width: 8%;
    padding: 1rem;
    font-size: 1.3rem;
    
}
.location {
    padding: 0.6rem 0rem ;
    border-bottom: 1px solid #CFD2CF;
}
.location a {
    display: block;
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1rem;
}
.location i {
   margin-right: 1rem;
}
