@import url(bootstrap-5.1.3-dist/css/bootstrap.css);
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}
.body{
    font-size: 1.6rem;
    line-height: 1.6rem;
    background-color: #fff;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
}







